<div class="row">
  <div class='col-md-2 cell--thing--name' >  
    <span class='<%= "alert-danger" if thing.errors.details.keys.include?(:name) %>'  style="display: inherit;"  >
       <br />
        <%= f.text_field :name, value: thing.name, autocomplete: 'off', size: 40, class: 'form-control', type: '' %>
       
      
      <label class='text-muted small form-text' for=''>Name</label>
    </span>
    <br />
  </div>
  <div class='col-md-2 cell--thing--status' >  
    <span class='<%= "alert-danger" if thing.errors.details.keys.include?(:status) %>'  style="display: inherit;"  >
       <br />
      <%= render partial: thing.status, locals: {thing: thing} %>
      <label class='text-muted small form-text' for=''>Status</label>
    </span>
    <br />
  </div>

  <div class="col-md-2">
    <%= link_to "Cancel", things_path,  {class: "btn btn-secondary"} %>
    <%= f.submit "Save", class: "btn btn-primary pull-right" %>
  </div>
</div>
